@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WMS - Sistema de Gerenciamento de Armazem</title>

    @Styles.Render("~/Content/bootstrap/css")
    @Styles.Render("~/Content/dist/css")
    @Styles.Render("~/Content/dist/css/skins")
    @Styles.Render("~/Content/plugins/iCheck/flat")
    @Styles.Render("~/Content/plugins/morris")
    @Styles.Render("~/Content/plugins/jvectormap")

    @Styles.Render("~/Content/plugins/bootstrap-wysihtml5")
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="index.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>WMS</b></span>
                <!--------------------------------->
                <!-- INICIO                      -->
                <!-- TODO: NOME DO SISTEMA - LOGO-->
                <!--------------------------------->
                <!--------------------------------->
                <span class="logo-lg">&nbsp;WMS</span>
                <!--------------------------------->
                <!-- FIM                      -->
                <!-- TODO: NOME DO SISTEMA - LOGO-->
                <!--------------------------------->
                <!--------------------------------->
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!--------------------------------->
                        <!-- INICIO                      -->
                        <!-- TODO: MENSAGENS DO SISTEMA  -->
                        <!--------------------------------->
                        <!--------------------------------->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <!-- TODO: MENSAGENS DO SISTEMA - NÚMERO DE MENSAGENS -->
                                <span class="label label-success">1</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- TODO: MENSAGENS DO SISTEMA - TÍTULO DA MENSAGEM -->
                                <li class="header">Você tem 1 mensagem</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <!-- TODO: MENSAGENS DO SISTEMA - INICIO DA MENSAGEM -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="@Url.Content("~/Content/dist/img/user9-150x150.jpg")" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Bem Vindo
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Bem vindo ao nosso sistema de WMS</p>
                                            </a>
                                        </li><!-- TODO: MENSAGENS DO SISTEMA - FIM DA MENSAGEM -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">Todas as mensagens</a></li>
                            </ul>
                        </li>

                        <!--------------------------------->
                        <!-- FIM -->
                        <!-- TODO: MENSAGENS DO SISTEMA -->
                        <!--------------------------------->
                        <!--------------------------------->
                        <!--------------------------------->
                        <!-- INICIO                      -->
                        <!-- TODO: NOTIFICAÇÕES DO SISTEMA-->
                        <!--------------------------------->
                        <!--------------------------------->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">5</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">Você tem novas notificações</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 novos membros
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> Descrição de um problema bem grandão aqui
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i> 5 novos membros
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-green"></i> 25 vendas realizadas
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> Você alterou seu perfil
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">Ver todos</a></li>
                            </ul>
                        </li>
                        <!--------------------------------->
                        <!-- FIM                      -->
                        <!-- TODO: NOTIFICAÇÕES DO SISTEMA-->
                        <!--------------------------------->
                        <!--------------------------------->
                        <!--------------------------------->
                        <!-- INICIO                      -->
                        <!-- TODO: TAREFAS DO SISTEMA-->
                        <!--------------------------------->
                        <!--------------------------------->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">3</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">Você tem 3 tarefas</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <h3>
                                                    Design WMS
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <h3>
                                                    Definir as funcionalidades
                                                    <small class="pull-right">40%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <h3>
                                                    Reuniões de entendimento
                                                    <small class="pull-right">60%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">Ver todas tarefas</a>
                                </li>
                            </ul>
                            <!--------------------------------->
                            <!-- FIM                         -->
                            <!-- TODO: TAREFAS DO SISTEMA    -->
                            <!--------------------------------->
                            <!--------------------------------->

                        </li>

                        <!--------------------------------->
                        <!-- INICIO                      -->
                        <!-- TODO: DADOS BÁSICOS DO USUÁRIO    -->
                        <!--------------------------------->
                        <!--------------------------------->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@Url.Content("~/Content/dist/img/user9-150x150.jpg")" class="user-image" alt="User Image">
                                <span class="hidden-xs">Carlos Zilioli</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="@Url.Content("~/Content/dist/img/user9-150x150.jpg")" class="img-circle" alt="User Image">
                                    <p>
                                        Carlos Zilioli - Web Developer
                                        <small>Membro desde 2005</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Logoff</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!--------------------------------->
                        <!-- FIM                      -->
                        <!-- TODO: DADOS BÁSICOS DO USUÁRIO    -->
                        <!--------------------------------->
                        <!--------------------------------->
                        <li>
                            <!--------------------------------->
                            <!-- INICIO                      -->
                            <!-- TODO: CONFIGURAÇÕES         -->
                            <!--------------------------------->
                            <!--------------------------------->
                            <!-- Comentado temporariamente -->
                            <!-- <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>  -->
                            <!--------------------------------->
                            <!-- FIM                         -->
                            <!-- TODO: CONFIGURAÇÕES         -->
                            <!--------------------------------->
                            <!--------------------------------->
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!--------------------------------->
        <!-- INCIO                       -->
        <!-- TODO: MENU LATERAL          -->
        <!--------------------------------->
        <!--------------------------------->
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@Url.Content("~/Content/dist/img/user9-150x150.jpg")" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Carlos Zilioli</p>
                    </div>
                </div>
                <!--------------------------------->
                <!-- INCIO                       -->
                <!-- TODO: PESQUISA		          -->
                <!--------------------------------->
                <!--------------------------------->
                <!--  <form action="#" method="get" class="sidebar-form">
                  <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Pesquisa...">
                    <span class="input-group-btn">
                      <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                  </div>
                </form>  -->
                <!--------------------------------->
                <!-- FIM                          -->
                <!-- TODO: PESQUISA		          -->
                <!--------------------------------->
                <!--------------------------------->
                <!-- Itens do Menu -->
                <ul class="sidebar-menu">
                    <li class="header">MENU PRINCIPAL</li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-pencil-square-o"></i> <span>Cadastro</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Produto</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Endereço</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Tipo de Endereço</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Tipo de Setor</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Agente</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Tipo de Estrutura</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Tipo de Embalagem</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Unidade de Medida</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Tipo de Area</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Tipo de Nota Fiscal</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Tipo de Pedido</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Tipo de Controle</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Onda de Separação</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Cadastro de Rota</a></li>
                            <li class="active"><a href="/Cadastro/Perfil"><i class="fa fa-caret-right"></i>Perfil</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Aplicação</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Menu</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Funcionario</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Situação</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Impressora</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Classificação Produto</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Familia de Produto</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Doca de Recebimento</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Interface</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-shopping-cart"></i> <span>Recebimento</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-caret-right"></i> Digitação de NF</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Geração de Etiqueta</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Endereçamento</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Consulta Recebimento</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Analise de Divergencia</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Desfazer Recebimento</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Consulta de NF </a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Cancelamento de NF</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-database"></i> <span>Estoque</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-caret-right"></i> Telas de Consulta</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Coletor Transferencia</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Ressuprimento</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Permissão de Transferencia</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-sticky-note-o"></i> <span>Inventário</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-caret-right"></i> Tela de Geração</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Marcaçao de Endereço</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Coletor de Contagem</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Consulta Inventário</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Consulta Divergencia</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Relatorio de Contagem</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Tela de Digitação</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Atualização de Estoque</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-exchange"></i> <span>Separação</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-caret-right"></i> Digitação de Pedido</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Consulta Pedido</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Cancelamento</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Liberação para Separação</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Emissão de Etiqueta</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Emissão de Relatório</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Confirmação de Relatório</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Coletor de Separação</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Coletor de Conferência</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Checkout</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-truck"></i> <span>Expedição</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-caret-right"></i> Montar Romaneio</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Realizar Carregamento</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Manutenação de Carregamento</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Coletor de Carregamento</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Finaliza Carregamento</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Relatório de Romaneio</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Consulta de Romameio</a></li>
                        </ul>
                    </li>

                </ul>
            </section>
        </aside>
        <!--------------------------------->
        <!-- INCIO                       -->
        <!-- TODO: MENU LATERAL          -->
        <!--------------------------------->
        <!--------------------------------->
        <!-- Content Wrapper. Contains page content -->

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    WMS
                    <small>Sistema de Gerenciamento de Armazém</small>
                </h1>
                @*<ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Página Inicial</li>
                </ol>*@
            </section>
            @RenderBody()

            <div class="modal" id="modal">

            </div>

            <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div id="confirmHeader"></div>
                        </div>
                        <div class="modal-body">
                            <p>
                                <div id="confirmMessage"></div>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-success" id="actionConfirmModal">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="AlertaModal" tabindex="-1" role="dialog" aria-labelledby="AlertaModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="alert alert-success alert-dismissable" id="alert_class">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div id="alert_header"><h4><i class="icon fa fa-check"></i> Alerta!</h4></div>
                        <p>
                            <div id="alert_message">&nbsp;</div>
                        </p>
                        <br />
                        <button type="button" class="btn btn-success" data-dismiss="modal" id="btnOKModal">Ok</button>
                    </div>
                </div>
            </div>

       </div><!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Versão</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2015 <a href="#">LSZ System</a>.</strong> All rights reserved.
        </footer>
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    @Scripts.Render("~/Content/plugins/jQuery")
    @Scripts.Render("~/Content/bootstrap/js")
    @Scripts.Render("~/Content/dist/js")
    @Scripts.Render("~/Content/plugins/morris")
    @Scripts.Render("~/Content/plugins/sparkline")
    @Scripts.Render("~/Content/plugins/jvectormap")
    @Scripts.Render("~/Content/plugins/knob")
    @Scripts.Render("~/Content/plugins/daterangepicker")
    @Scripts.Render("~/Content/plugins/datepicker")
    @Scripts.Render("~/Content/plugins/bootstrap-wysihtml5")
    @Scripts.Render("~/Content/plugins/slimScroll")
    @Scripts.Render("~/Content/plugins/fastclick")
    @Scripts.Render("~/Scripts")
    
</body>
</html>